# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors and IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary/Log Files
*.log
trim_logo.ps1

# Dependencies
node_modules/
